@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple global styling so it looks good even if Tailwind is weird */
body {
  background-color: #020617; /* slate-950-ish */
  color: #e5e7eb;           /* slate-200-ish */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
